
body{
    margin: auto;
    margin-top: 70px;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(194, 216, 197);
    background-image: url(images/11.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

p{
    font-size: 2vh;
}


#img-div{
    border: solid 5px rgba(51, 133, 153, 0.459);
    box-shadow:1px 1px 30px rgb(51, 133, 153);  
   border-radius: 4%;
   max-width: 580px;
   padding-top: 40px;
   padding-bottom: 20px;
   display: flex;
   flex-direction: column;
   margin: auto;
}

#image{
    max-width: 500px;
    display: block;
    margin:auto;
}

.tribute-contents{
    text-align: left;
    margin: auto;
    background-color: rgba(172, 211, 216, 0.596);
    border: solid 5px rgba(51, 133, 153 0.123);
    box-shadow:1px 1px 30px rgb(51, 133, 153);  
    padding: 20px;
    border-radius: 4%;
}

.tribute-contents ul{
max-width: 1000px;

}

.tribute-contents li{
    font-size: 2.3vh;
    text-decoration: underline rgb(127, 125, 148)  2px;
}

footer{
    background-color: rgb(143, 180, 148);
    margin-top: 70px;
    background-color: rgba(172, 211, 216, 0.596);
    box-shadow:1px 1px 30px rgb(51, 133, 153);  
    padding-bottom: 1px;
}

h1{
    background-color: rgba(143, 180, 148, 0);
    
}

header{
    background-image: url(images/11.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#tribute-info{
    text-align: center;
    font-size: 2.3vh;
    
}


#tribute-link{
    text-decoration: none;
    color: rgb(45, 68, 201);
}

#tribute-link:hover{
    color: rgb(9, 255, 0);
}