
body{
    margin: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(194, 216, 197);
    background-image: url(images/setup-2004-12121212.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    padding: 0%;
}

#main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

p{
    font-size: 2vh;
    
}


#img-div{
   max-width: 580px;
   padding-top: 0px;
   padding-bottom: 20px;
   display: flex;
   flex-direction: column;
   margin: auto;
   align-items: center;
   background-color: transparent;
   margin-top: 10px;
   
   
}

#image{
    max-width: 1000px;
    border-radius: 20px;
}

#img-caption{
    display: none;
}


header{
    background-color: rgba(0, 0, 0, 0.596);
    padding-top: 0px;
    border-bottom: 2px solid rgba(79, 141, 160, 0);
    box-shadow:1px 1px 30px rgba(2, 3, 3, 0.712);  
    color: rgb(202, 202, 202);
    margin: 0px;
    background-image: url(images/icons8-windows-client-100.png);
    background-repeat: repeat;
}

.tribute-contents{
    text-align: left;
    margin: auto;
    background-color: rgba(32, 32, 32, 0.705);
    box-shadow:1px 1px 30px rgb(0, 0, 0);  
    border: solid 5px rgba(51, 133, 153 0.123);
    padding: 20px;
    border-radius: 4%;
    margin-top: 70px;
    display: flex;
    flex-direction: row-reverse;
    color: rgb(202, 202, 202);
}

.tribute-contents ul{
max-width: 1000px;

}

.tribute-contents li{
    font-size: 2.3vh;
    text-decoration: underline rgb(96, 116, 134)  2px;
}


#tribute-info{
    text-align: center;
    font-size: 2.3vh;
    
}


#tribute-link{
    text-decoration: none;
    color: rgb(45, 68, 201);
}

#tribute-link:hover{
    color: rgb(101, 108, 114);
}

.rightColumn{
   padding: 20px;
   margin: 0px;
   text-align: center;
   display: flex;
   flex-direction: column;
   max-width: 500px;
}


.rightColumn img{
    max-width: 500px;
    border-radius: 20px;
}

footer{
    background-color: rgba(32, 32, 32, 0.705);
    box-shadow:1px 1px 30px rgb(0, 0, 0);     
    margin-top: 70px;
    padding-bottom: 1px;
    color: rgb(202, 202, 202);
}

.title{
    padding-left: 20px;
    padding-right: 20px;
    margin: auto;
    padding-bottom: 10px;
}

@media only screen and (max-width: 768px){
    .tribute-contents{
        text-align: left;
        padding: 0px;
        border-radius: 20px;
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        margin: 10px 20px 10px 20px;
        padding: 2px;
    }

    .tribute-contents ul{
        max-width: 500px;
        margin: auto;
    }
        
    .tribute-contents li{
        font-size: 2.3vh;
        text-decoration: underline rgb(96, 116, 134)  2px;

    }

    .tribute-contents p{
        margin: 20px;
    }

    #image{
        max-width: 400px;
    }

    .rightColumn img{
        max-width: 400px;
    }


    header h1{
        padding: 10px;
    }

    footer{
    padding: 20px;    
    }    
}